PORT=3000
DATABASE_URL="postgresql://entertainment_db_tctj_user:8OZ2pRBodZFs7Rp51n3n0SCyixMRdmpg@dpg-d7pvhhhj2pic73f9p16g-a/entertainment_db_tctj"
TMDB_API_TOKEN=
TMDB_API_KEY=
AUTH_ISSUER=https://tcss-460-iam.onrender.com
API_AUDIENCE=group-7-api
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

